*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.top{
    width: 100%;
    height: 100px;
    background-color: #179FDB;
    display: flex;
    justify-content: space-between;
    
}
.lefttop{
    
    margin: 15px;
    margin-left: 100px;
}
.lefttop a{
    color: white;
    font-size: 50px;
    font-family: Verdana;
    text-decoration: none;
    font-weight: 1000;
}
.righttop ul{
    list-style: none;
    display: flex;
}
.righttop li{
    margin-top: 30px;
    padding-right: 50px;
}
.righttop a{
    color: white;
    font-size: 30px;
    font-family: Verdana;
    padding: 20px;
    text-decoration: none;
}
.righttop a:hover{
    color: black;
    text-decoration: underline;
}
.title{
    margin-top: 50px;
    text-align: center;
    color: rgb(255, 89, 0);
}
.body{
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}
.img1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 70px;
    padding-left: 100px;
}
.img2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 70px;
    padding-right: 100px;
}
.img1 img, 
.img2 img{
    margin-bottom: 30px;
}
.img2 button{
    margin-bottom: 30px;
}

.download-button{
    width: 150px;
    height: 30px;
    border-radius: 30px;
    background-color: red;
    color: white;
    display: inline-block;
    
}
.download-button:hover{
    width: 150px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(254, 152, 152);
    color: black;
}
.figma-button{
    width: 150px;
    height: 30px;
    border-radius: 30px;
    background-color: lightblue;
    color: white;
}
.figma-button:hover{
    width: 150px;
    height: 30px;
    border-radius: 30px;
    background-color: lightyellow;
    color: white;
}
.bot{
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: grey;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 20px;
    font-family: Calibri;
}


