*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.top{
    width: 100%;
    height: 100px;
    background-color: #179FDB;
    display: flex;
    justify-content: space-between;
    
}
.lefttop{
    
    margin: 15px;
    margin-left: 100px;
}
.lefttop a{
    color: white;
    font-size: 50px;
    font-family: Verdana;
    text-decoration: none;
    font-weight: 1000;
}
.righttop ul{
    list-style: none;
    display: flex;
}
.righttop li{
    margin-top: 30px;
    padding-right: 50px;
}
.righttop a{
    color: white;
    font-size: 30px;
    font-family: Verdana;
    padding: 20px;
    text-decoration: none;
}
.righttop a:hover{
    color: black;
    text-decoration: underline;
}

.body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.img{
    max-width: 50%;
    max-height: 100%;
    text-align: center;
}
.download-button{
    width: 150px;
    height: 30px;
    border-radius: 30px;
    background-color: red;
    color: white;
    
}
.download-button:hover{
    width: 150px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(254, 152, 152);
    color: black;
}
.bot{
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: grey;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 20px;
    font-family: Calibri;
}


